:host {
    display: block;
    width: max-content;
}

.native-button {
    padding: 16px 24px;
    background-color: var(--color-blank);
    border: solid 1px var(--color-border);
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: var(--color-background-hover);
    }
}
