:host {
    display: block;
    width: max-content;
}

.native-input {
    padding: 16px;
    background-color: var(--color-blank);
    border: solid 1px var(--color-border);
    border-radius: 4px;
}
